boto==2.38.0
diff-match-patch==20121119
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8
django-braces==1.4.0
django-cors-headers==1.0.0
django-herokuapp==0.9.19
git+https://github.com/bmihelac/django-import-export.git#egg=django-import-export
django-oauth-plus==2.2.6
django-oauth2-provider==0.2.6.1
django-require==1.0.7
django-require-s3==1.0.0
django-sslify==0.2.7
django-storages==1.1.8
django-tinymce==1.5.3
django-toolbelt==0.0.1
djangorestframework==3.1.1
djangorestframework-oauth==1.0.1
djoser==0.1.0
gunicorn==19.3.0
httplib2==0.9.1
oauth2==1.5.211
oauthlib==0.7.2
Pillow==2.8.1
psycopg2==2.5.4
py-bcrypt==0.4
pytz==2015.2
requests==2.5.1
sh==1.11
shortuuid==0.4.2
six==1.8.0
South==1.0.2
static3==0.5.1
stripe==1.20.2
tablib==0.10.0
waitress==0.8.9

